@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot?t=1616572216646'); /* IE9 */
  src: url('iconfont.eot?t=1616572216646#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
      url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAA00AAsAAAAAGIQAAAzkAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCFDAqgfJlFATYCJANACyIABCAFhG0HgVIb4RMjETaLtJIh+8sEbopC9oJXkExbCxYcgILdv7cufhNHhjltC4YBAa3Pk/q9wSB8LB7436923/cZX0S8aRSzaqZpl0aq4pFEYiMzWOLQ/xBt63+WDKMWcbkAE8HKpY1mwbgi0iaMuor2/OFV6svLqJ8/16IA00YbNl20nUWLnv6vC8Az6njvmoETNh8JNdRWA22465nhKuLvm7Ai4As+Jwjt3TbjOnUjBq7W9pinRIokhszZnvrPO/dpgTFHKMxJQCcLnwK9lxy3/whGyMLO7e35yzjDdkAszNjICacmhJ7B2IzDdx9FilHUIvLmBFSNEQ1aqi7AAEWCoYBFjjrtRkBptEs8kUHRmlkumxCg2YiKaEp0AjBemD8f/gA3UIBIGgN2Sxv3qywA7eAe9+JHlzfB0HiqSZPTMbgSMWYBEsIXq/sd4As4y+CqbVlBHwBG4HT+8g7+EfWR4JHoUfaj6Y9eP1Y9znlc+Xjm497fpejg7F7/2xB2/GAEHl8eiLQ0NDfFf/JiFVU1dYlUJidkgEpQEPIBzGjRwUnEEDxUG6GCaYAIwDRBRGACSDaYAmQ6kNHJa0Do6KpQTJVuTjE1upXF1OnOLCah+79iUrr/ZzKQXhhyDLf1ZcYB1gPpVgCyPQDaVTN3IRdLJI52Pi60ZyZzo82ksSSII2ZcwkA1wVw2WcTlcfw4DHKBciJBzWQSCEwGgRpClu1ULqUwgRpEAt2rqgujsA+7bORciIE+9tUlsTz+SB/srz85BwPWJRuzD8HqWPUEdb2g37F9SMG+QNUN1MJfvrfj9og5Zoxbo7n8gakRHjKiImSFOfpmwcUYm9ryJCKnuzI1GM3f7kYEhhnKcSqhgpfJRuo/j1DCq41xytTIx0lhWmE9JFdRx2kLvejV94seJC1EiErNDNVR0IOJNVREBZoJCjAAGPVRUINhIyEUdIgErte/kwcJaMCwlkj9DBQWIkFkUjFPYrCXSPUMNVFQqRuWeEPebE7RWXIg7TGI5lFX8pzQ+6AsSJfMZ4i66GXRC55cR6sC+cxvFb6a0FIxc3khtoE9dg/CcnMzV1gJdBvgilBsHb654FWp3tPjn32wC07DSDQFHSl4igRTvnAXjLS2ih5POjtnySTL0r0HYjEk/DFY6Es2tjBfxQZ5lwhXXzUVbCHwBDuO3zkOfmjDXxFiaGxPQF/S8si/U/V4zi9m1OWjb5PMMj1RFqhTl67b6Nf/u2mby1byaWNtFKCZGhhwUg7DXCji6Qh9wCLah7cRmN6ccnmBpCm0whmGhiiQ1X1j6FdHUifGenWV91bvLeu1bXli34P9BVX2yLmxPAGVvop1xZEr1gvCPlSlBnSbjHa1JAR5eZqbx3v5av72YUnZbUsGqzVJVC3BSsZT/BD6KzUYAZ2NS3NlPTfHDlJy5u8BsmLg6KgMqnKuK3zkSwONZV53ytlSJwfGP8cPs8NXIQuo7j42oQ6jYx2OPLczaXfXav7JDlV+t7qnJAmuEq2PThvL8s9sWTxysJ12jIeM8ep0/yhHb86dt1WmAbpZwurTw70lJeBlInPF5NWT4NJDdXJ2bJBLcqPXiRhy7/uckYq0wFj+AW9cpHM0TKepAnQUS9djviqNq0IH1pAI1KG3yZZvJIerQe7YiRGspnKMxb/MP3kCL3rjrabtQMYMesAaLXK0lil86o6d/pl+x+gPc1chPHoupvKQyAsn8VLVJ4LnWIBts3LKQQ1SDVwL2ptaPYNhirYyBhVyg7WQGkxkW0THx61SVWNGSalkTf+8B3SE8Xjj4Nmkw1m+cGgoMl4bbxHxcM2StOj35xUjA9+TwXqFW1Kur8rE4FnMWegKjIJvh6rMSJ4baybaBr9X3ff8Y1iy9XM8L4H6BEvHqp6mTB3hbl6865zR6tQDq4pX5Ov93kmAXYCRSqm6CD4vJBjI39wyyqRTgQhYgahF4bAlMc+zoG3679HYRf7dF7btHS5eiTNF7xZOHtgltNJGrZpFb6VteVVMaxOuRZYLhycjMhmXI/MhHLkMQCJOuOPBleUzrlydvuLBXv6wfJLlK45czYrFipYf6c65/MqVIklDUUaPzEhu/WimSkHlJgjiBQlcCvBtEIvLWtkYwARmqaLMHxCaDdI/nx34ymWmE/dv/FGyn6gmHBjyI+AAwZfFhQUsXzaKgh8KC8PUnN93knrcPC5L78nYWavJ3JHv35AxZ7gwG9PAnuwc3CNIfzNskVGYNjjJVGm3No9P1prWmwLaImgCenBbwJtJbfL4Zqu90pQ0OE3omjSXhtDmPHAJyVJJpgq7rXlCUizPGNgavFowO6I10EjyJU1ottkrZL9uXDQHU8dvmSR/w/8BbOXXwzxys7EuLNbv1LVJuzOLs+exh4zghsYENVqoFar1G2f1MbKcHRvW9QZ8qpwq81ALfdTxauLkCwzOMHGH5pppVnd+y89DSRjcvfRU8BqUe8kzSTBeDT/cfc/ytJBSSMolJBcSTOcO8w6ApNBus5EMIaV5fDW/vi5UE5a3ll8tWFevCc0LW2sxxdfw80pDSOvrv6ZkQot02HBpy0Txtl9PtsVOqK2tlFhPwFFEZVqX2dSZpiJuK8ijM8Mo0LhGBp5i0UpltHYl2PBTEQPQSVcWgbtJdhbOMW2aQ7lw6duFHNlJ9rugPNJuT54AaUiGDAMpOMqh1dZGZ5Sro6Vr2gc8BZl6Bniqugqm6hXgasFLDCMZUgwkDJNHp5AMjfnA/JuO3sZPV2+C3vyaKViq0E6ZMmoUpvT1SUhs0SoePqwlKLHdu9YXyYaXAM9OJM1Wot6oD+r9zuedI2QJUJYbV+YQiVIrMXMmZpVCNTWQcpWmMpzVBU0rxPnSLwG8asU8uPHOWUVuckrd12sX4NPTOtSdXcndnqKigQQKYWBmySOlnq6Br32VFjh41XP+Qt68QbihgoAv0nxxDWwPWLV6zNACMpcAR6HgBOmnLhhaVfVXx7TTy+sl0tILzbIBlqM1n8GBGkDVYrU9fSE5IszNhyP47sPniUri+cN8dwTs5mOi3JBDPbVaLKbhh+Brg2fVgD4b7ufF8/rh+N7I3moKHRxa0M/anH0KOZsax5zHFKBqN1DwhN2VCkivrISyocqqf7Ki7oLad9JaaivVl+rAkwRcCJoatyim60zGma6Y3FwqGpKkTKDVfFS9VdJqE5Q73/MeZwgzzxWD/LT/KicrFcI5BQUUD8dDSV5wqqxfxxBPFjN0oLOff2bpWHR898HUg92j0K6lZ06znj490/sq4NVXSeiZpV3oqP6I8ejYgNvswDurD4AjGeGKLwNfAb3ffyxZ7Fuc8TajaYlhU/WUi33FZP+xPX45kYmR063Gt8bsN2+9b9PP+o1lR7IXLxj2dhjIvLB6jfJvsor0jyrnlUvYR0fv99lPPUrVBuWv5eme1OW16NHLR68ZMikY17JqDfY3RUX+R5ePlL9kH7OTYyN4rdiTuqLWMXrF8GuGfLWg4W/3kvzOu3KZXN7KbDQwWkePBrcj+c3l26qg/iLIZoOK+oBqm1lFHyCg6EjjlnKX9qSzJjQsUZaPjb5X4qXFxMlLEiHdw4eQrNyE0hTVhLt9PYB/A2B/E6y1BMoHeasR3ZvKKkSPFOKWWAzlM71nKsw1Fq+fQeIJOHK4P6MBhbedEklM97VjyCYzUYtuQY7LDhExdCry55JFDkveoU+VFt7+yeu2kSpEPodPf562LA2Mesbkxv+3B4CyuyT2NZm38IfxYzK/7IlTpv9oxcMxR9yM7mC+8s2OGG26t+MuoW8f7jm0ftgQ/STa77oFV8lmXkrS8FOf3s/k37n2cyPYGR8p9Ff88e9jOCmJM24eoBBhKMxYeTKfI0n7XQrt/HWgo518bwapTLAqtB0HimcEq3wPnsgHBrg1SzwYmIZFwzYAkdxoECtM8kx8Z4FUzRyQKSwAVTNprlwzkBteSKiAGSYQELT9H0SaXoNY20nPxPcmSA3xEmTaAQ+qtgdfkzVTgpOmcFuNXqsFMbUhTnNDvU10eWn5omVWe1Ot0V13mAy91e1xjiNSsaQ9S2Ott7onIfA02+O8XhticzfUIWpya9ba2gak0d1QbTV7xQ6vtzEtNtZmE4rNDXWAZgk3KyOvLmiBMGmr6mTWoJ7t2F60zu8vY2XXpJaR27POn6p6Vm4ezhNHSIlJIjw1uD5qnYuytEczuzheqtsgcmW3BnUQaqpb1fLpDRCN9tNVszLzEnOMMLVRmli6LVssFs9eq9vnsb1vvczi3LYkK6qmG6Zluzd/1o7r+ZEI7ODAsLLr/Vcgf6FW5UU5RwVU4lxPmLHWO3qxynfomSg1R5ddKXpXKHWHrd0TLMo1uW6mqgq+vD7Bw+qwxwIc+HqLHPzDjGhnj+rUNFiLY4EzUVbJtgUAAAA=')
      format('woff2'),
    url('iconfont.woff?t=1616572216646') format('woff'), url('iconfont.ttf?t=1616572216646') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('iconfont.svg?t=1616572216646#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icongame:before {
  content: '\e627';
}

.icondaily:before {
  content: '\e602';
}

.iconUserSettings:before {
  content: '\e68c';
}

.iconpiechart:before {
  content: '\e78e';
}

.iconadduser:before {
  content: '\e7ae';
}

.iconlinechart:before {
  content: '\e7af';
}

.iconbarchart:before {
  content: '\e7b0';
}

.iconicon-test:before {
  content: '\e63f';
}

.iconall:before {
  content: '\e6ef';
}

.iconbags:before {
  content: '\e745';
}

.iconconditions:before {
  content: '\e748';
}

.iconMoneymanagement:before {
  content: '\e759';
}

.iconicon_expand:before {
  content: '\e609';
}

.iconicon_collapse:before {
  content: '\e621';
}

.iconbilibili:before {
  content: '\e603';
}
