// 常用背景颜色
$bg-white: #ffffff;
$bg-light: #eaebf0;
$bg-grey: #f0f2f5;
$bg-primary: #409eff;
$bg-success: #67c23a;
$bg-warn: #ff9900;
$bg-error: #f56c6c;
$bg-info: #909399;
$img-bg-color: #f6f6f6;
$table-bg-color: #f2f5f8;

// 页面顶部
$header-bg-color: #437bee;
$logo-color: #bfcbd9;

// 侧边栏
$aside-bg-color: #fff;
$aside-foot-hover: #437bee;
$aside-border-color: #e0e0e0;
$aside-first-menu: #fafafa;
$aside-second-menu: #e6f1fe;

// 常用字体颜色
$fc-white: #ffffff;
$fc-light: #f0f8ff;
$fc-default: #101010;
$fc-dark: #333333;
$fc-darker: #4e5056;
$placeholder: #c0c4cc;
$fc-collapse: #bfcbd9;
$fc-disabled: #bdc1c7;
$fc-link: #409eff;

// 常用边框颜色
$br-default: #dcdfe6;
$br-primary: #e4e7ed;
$br-light: #ebeef5;
$border-label: #36a3f7;

// icon 颜色
$icon-user: #40c9c6;
$icon-message: #36a3f7;
$icon-purchase: #f4516c;
$icon-cart: #34bfa3;

// 主题色
$color-theme: #437bee;

// Login page
$lightGray: #eee;
$darkGray:#889aa4;
$loginBg: #2d3a4b;
$loginCursorColor: #fff;
